.body {
  display: flex;
  padding: 1rem;
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
  align-items: center;
  justify-content: space-between;
}
.body .product {
  background-color: red;
  /* background-color: #131921; */
  flex: 2;
  color: white;
  display: flex;
  padding: 1rem;
  margin: 0.5rem;
  border-radius: 0.5rem;
  align-items: center;
  justify-content: center;
}
.body .cart {
  background-color: blue;
  flex: 1;
  color: white;
  display: flex;
  padding: 1rem;
  margin: 0.5rem;
  border-radius: 0.5rem;
  align-items: center;
  justify-content: center;
}
